.modal-backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
}

.modal-content {
   background-color: #414755;
   padding: 20px;
   border-radius: 5px;
   position: relative;
   color: white;
   display: flex;
   flex-direction: column;
   gap: 20px;
   min-width: 350px;
}

.close-button {
   position: absolute;
   top: -70px;
   right: 0px;
   border: none;
   background: none;
   font-size: 1.5rem;
}

.modal-content h2 {
   font-size: 2em;
   margin-bottom: 20px;
   width: 100%;
}

.modal-content form {
   display: flex;
   flex-direction: column;
   gap: 10px;

   width: 100%;
}

.modal-content input {
   padding: 10px 20px;
   background-color: #292c35;
   border: 0.7px solid #414755;
   border-radius: 5px;
   color: #ebecf0;
   font-size: 1em;
   transition: all 0.3s;

   &:focus {
      background-color: #414755;
   }
}

.modal-content button {
   padding: 10px 20px;
   background-color: #292c35;
   border: 0.7px solid #414755;
   border-radius: 5px;
   color: #ebecf0;
   font-size: 1em;
   transition: all 0.3s;
   margin-top: 20px;

   &:hover {
      background-color: #414755;
      cursor: pointer;
   }
}
