@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.hamburger {
   display: none;
}

.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
   background-image: linear-gradient(to bottom, rgba(36, 39, 46, 0.822), transparent);
   color: #ebecf0;
   position: fixed;
   width: 100%;
   z-index: 99999;
   font-family: "Rubik", sans-serif;
   backdrop-filter: blur(10px);
   padding-inline: 100px;
}
.nav .nav-h {
   display: flex;
   align-items: center;
}
.nav .nav-h img {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 10px;
}
.nav .nav-ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}
.nav .nav-ul li {
   margin-right: 1rem;
   position: relative;
}
.nav .nav-ul li a {
   color: #e1e2e6;
   text-decoration: none;
   padding: 10px;
   border-radius: 5px;
   transition: all 0.3s ease;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nav .nav-ul li a:hover {
   background-color: rgba(57, 65, 80, 0.822);
}
.nav .nav-ul li.active a,
.nav .nav-ul li a:focus {
   background-color: rgba(57, 65, 80, 0.822);
}
.nav .nav-ul li:last-child {
   margin-right: 0;
}

@media (max-width: 768px) {
   .nav {
      all: unset;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      background-image: linear-gradient(to bottom, rgba(36, 39, 46, 0.99), transparent);
      color: #ebecf0;
      position: fixed;
      width: 100%;
      z-index: 99999;
      font-family: "Rubik", sans-serif;
      backdrop-filter: blur(10px);
      padding-inline: 100px;
      gap: 20px;
   }

   .nav .nav-h img {
      width: 40px;
      height: 40px;
   }

   .sNav .nav-ul {
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 70px;
      left: 0;
      gap: 50px;
      background-color: rgba(36, 39, 46, 1);
      padding-top: 150px;
   }

   .nav .nav-ul-li {
      width: 100vw;
   }

   .nav .nav-ul-li a {
      color: #ebecf0;
      text-decoration: none;
      padding: 10px;
      border-radius: 5px;
      transition: all 0.3s ease;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }

   .nav-ul.open {
      display: flex;
   }

   .hamburger {
      display: block;
      cursor: pointer;
   }

   .hamburger div {
      width: 30px;
      height: 3px;
      background-color: #ebecf0;
      margin: 6px 0;
      transition: 0.4s;
   }
}
