.toast {
   position: fixed;
   top: 3rem;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 26rem;
   padding: 1rem;
   background-color: rgba(5, 22, 28, 0.3);
   backdrop-filter: blur(4px);
   color: #fff;
   border-radius: 12px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
   height: fit-content;
   overflow: auto;
   max-width: 26rem;
   max-height: auto;
   min-width: 200px;
   z-index: 999999999999999999999;
   animation: popFromTop 0.3s;
}

@keyframes popFromTop {
   0% {
      transform: translateY(-100%) translateX(-50%);
   }
   100% {
      transform: translateY(0) translateX(-50%);
   }
}

@keyframes popFromBottom {
   0% {
      transform: translateY(100%) translateX(-50%);
   }
   100% {
      transform: translateY(0) translateX(-50%);
   }
}
